@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 8% 4%;
    gap: 40px;
  }
  main .main-content:first-child {
    margin-top: 100px;
  }
  .sidebar {
    width: 100%;
    height: 77px;
    padding: 15px 4%;
    top: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #707070;
    box-shadow: 0 10px 10px rgba(39, 39, 39, 0.4);
    position: fixed;
    z-index: 9999;
  }
  .sidebar .logo-container {
    position: static;
    align-items: center;
  }
  .sidebar .logo-container .logo {
    flex-grow: 1;
  }
  .sidebar .logo-container .toogler {
    display: none;
  }
  .sidebar .logo-container .hamburger {
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-size: 25px;
  }
  .sidebar .menu-items-container .title {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
  }
  .sidebar .menu-items-container .title h4 {
    opacity: 1;
    transform: scale(1);
    padding: 5px;
  }
  .sidebar .menu-items-container .title .line {
    display: none;
  }
  .sidebar .menu-items-container .menu-items li a .menu-item-title {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar .menu-items-container .menu-items li a .tooltip {
    display: none;
  }
  .sidebar.collapsed {
    height: 100dvh;
  }
  main .todo .container-wrapper {
    padding: 30px;
    width: 500px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    margin-left: 0;
    width: 45px;
  }
  main .todo .container-wrapper .to-do-app .search-container {
    flex-direction: column;
    gap: 10px;
  }
  main .todo .container-wrapper .to-do-app .search-container input {
    padding: 15px;
    font-size: 15px;
  }
  main .todo .container-wrapper .to-do-app .search-container button {
    position: static;
    transform: translateY(0);
    padding: 15px;
    font-size: 15px;
  }
  main .todo .container-wrapper .to-do-app ul li {
    font-size: 13px;
  }
  main .todo .container-wrapper .to-do-app ul li:before {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 520px) {
  main .todo .container-wrapper {
    width: 350px;
  }
}
@media (max-width: 400px) {
  main .todo .container-wrapper {
    padding: 20px;
    width: 300px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 24px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 35px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 10px;
    font-size: 14px;
  }
  main .todo .container-wrapper .to-do-app .search-container input::-moz-placeholder {
    font-size: 12px;
  }
  main .todo .container-wrapper .to-do-app .search-container input::placeholder {
    font-size: 12px;
  }
}
@media (max-width: 330px) {
  main .todo .container-wrapper {
    padding: 15px;
    width: 220px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 20px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 30px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 7px;
    font-size: 12px;
  }
}/*# sourceMappingURL=responsive.css.map */