@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
  }
  main {
    padding: 8% 4%;
    gap: 40px;
    place-content: center;
  }
  main .main-content:first-child {
    margin-top: 100px;
  }
  .sidebar {
    width: 100%;
    height: 77px;
    padding: 15px 4%;
    top: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #707070;
    box-shadow: 0 10px 10px rgba(39, 39, 39, 0.4);
    position: sticky;
    z-index: 9999;
  }
  .sidebar .logo-container {
    position: static;
    align-items: center;
  }
  .sidebar .logo-container .logo {
    flex-grow: 1;
  }
  .sidebar .logo-container .toogler {
    display: none;
  }
  .sidebar .logo-container .hamburger {
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-size: 25px;
  }
  .sidebar .menu-items-container .title {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
  }
  .sidebar .menu-items-container .title h4 {
    opacity: 1;
    transform: scale(1);
    padding: 5px;
  }
  .sidebar .menu-items-container .title .line {
    display: none;
  }
  .sidebar .menu-items-container .menu-items li a .menu-item-title {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar .menu-items-container .menu-items li a .tooltip {
    display: none;
  }
  .sidebar.collapsed {
    height: 100dvh;
  }
  main .todo .container-wrapper {
    padding: 30px;
    width: 500px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    margin-left: 0;
    width: 45px;
  }
  main .todo .container-wrapper .to-do-app .search-container {
    flex-direction: column;
    gap: 10px;
  }
  main .todo .container-wrapper .to-do-app .search-container input {
    padding: 15px;
    font-size: 15px;
  }
  main .todo .container-wrapper .to-do-app .search-container button {
    position: static;
    transform: translateY(0);
    padding: 15px;
    font-size: 15px;
  }
  main .todo .container-wrapper .to-do-app ul li {
    font-size: 13px;
  }
  main .todo .container-wrapper .to-do-app ul li:before {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 520px) {
  main .todo .container-wrapper {
    width: 350px;
  }
}
@media (max-width: 400px) {
  main .todo .container-wrapper {
    padding: 20px;
    width: 300px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 24px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 35px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 10px;
    font-size: 14px;
  }
  main .todo .container-wrapper .to-do-app .search-container input::-moz-placeholder {
    font-size: 12px;
  }
  main .todo .container-wrapper .to-do-app .search-container input::placeholder {
    font-size: 12px;
  }
}
@media (max-width: 330px) {
  main .todo .container-wrapper {
    padding: 15px;
    width: 220px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 20px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 30px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 7px;
    font-size: 12px;
  }
}
.solo-app {
  max-height: 100vh;
}

.main-content {
  border: 1px solid #707070;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 3px 3px 0 #707070;
  margin-bottom: 50px;
}
.main-content h2 {
  color: #ffffff;
  border-bottom: 1px solid #4a3dff;
  width: -moz-max-content;
  width: max-content;
}
.main-content p {
  color: #c9c9c9;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.todo .container-wrapper {
  background-color: #0f0f0f;
  padding: 50px;
  border-radius: 22px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.8);
  width: 800px;
  max-width: 100%;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.todo .container-wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.todo .container-wrapper .to-do-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo .container-wrapper .to-do-app h2 {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 25px;
}
.todo .container-wrapper .to-do-app h2 img {
  width: 55px;
  height: auto;
  margin-left: 25px;
}
.todo .container-wrapper .to-do-app .search-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}
.todo .container-wrapper .to-do-app .search-container input {
  position: relative;
  flex: 1;
  padding: 20px 160px 20px 20px;
  border: 1px solid #707070;
  background-color: #141414;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  color: #c9c9c9;
  font-weight: 500;
  transition: all 300ms ease;
}
.todo .container-wrapper .to-do-app .search-container input:focus, .todo .container-wrapper .to-do-app .search-container input:hover {
  background-color: #080808;
  border-color: #4a3dff;
}
.todo .container-wrapper .to-do-app .search-container input:focus {
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.7);
}
.todo .container-wrapper .to-do-app .search-container input::-moz-placeholder {
  color: #707070;
}
.todo .container-wrapper .to-do-app .search-container input::placeholder {
  color: #707070;
}
.todo .container-wrapper .to-do-app .search-container button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 0 60px;
  border-radius: 20px;
  background-color: #4a3dff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  transition: 300ms ease;
}
.todo .container-wrapper .to-do-app .search-container button:hover {
  background-color: #3122ff;
}
.todo .container-wrapper .to-do-app ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.todo .container-wrapper .to-do-app ul li {
  background-color: #141414;
  border-bottom: 1px solid #4a3dff;
  display: flex;
  border-radius: 100px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 12px 50px 12px 50px;
  font-size: 17px;
  font-weight: 500;
  color: #b6b6b6;
  position: relative;
  word-break: break-all;
  transition: 100ms ease;
}
.todo .container-wrapper .to-do-app ul li:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url(../images/Unchecked.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.todo .container-wrapper .to-do-app ul li.checked {
  text-decoration: line-through;
  color: #707070;
  border-bottom-color: transparent;
  background-color: #080808;
}
.todo .container-wrapper .to-do-app ul li.checked::before {
  background-image: url(../images/Checked.png);
}
.todo .container-wrapper .to-do-app ul li span {
  position: absolute;
  right: 12px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #707070;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 100ms ease;
  background-color: #141414;
}
.todo .container-wrapper .to-do-app ul li span:hover {
  background-color: rgb(37, 37, 37);
  color: #c9c9c9;
}/*# sourceMappingURL=toDoApp.css.map */