@import "variables";
@media (max-width: 900px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		max-height: 100dvh;
	}
	main {
		padding: 8% 4%;
		gap: 40px;
		place-content: center;

		.main-content:first-child {
			margin-top: 100px;
		}
	}
	// SIDEBAR
	.sidebar {
		width: 100%;
		height: 77px;
		padding: 15px 4%;
		top: 0;
		border-radius: 0;
		margin: 0;
		overflow: hidden;
		border-bottom: 1px solid $strokeColor;
		box-shadow: 0 10px 10px rgba(39, 39, 39, 0.4);
		position: sticky;
		z-index: 9999;

		.logo-container {
			position: static;
			align-items: center;

			.logo {
				flex-grow: 1;
			}

			.toogler {
				display: none;
			}
			.hamburger {
				cursor: pointer;
				display: block;
				color: $whiteColor;
				font-size: 25px;
			}
		}

		.menu-items-container .title {
			background-color: rgb(24, 24, 24);
			border-radius: 8px;

			h4 {
				opacity: 1;
				transform: scale(1);
				padding: 5px;
			}

			.line {
				display: none;
			}
		}

		.menu-items-container .menu-items li a .menu-item-title {
			opacity: 1;
			transform: translateX(0);
		}
		.menu-items-container .menu-items li a .tooltip {
			display: none;
		}

		&.collapsed {
			height: 100dvh;
		}
	}
	// tO DO APP
	main .todo .container-wrapper {
		padding: 30px;
		width: 500px;
		.to-do-app {
			h2 {
				flex-direction: column;
				gap: 10px;
				font-size: 30px;

				img {
					margin-left: 0;
					width: 45px;
				}
			}
			.search-container {
				flex-direction: column;
				gap: 10px;

				input {
					padding: 15px;
					font-size: 15px;
				}

				button {
					position: static;
					transform: translateY(0);
					padding: 15px;
					font-size: 15px;
				}
			}

			ul li {
				font-size: 13px;

				&:before {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}

@media (max-width: 520px) {
	main .todo .container-wrapper {
		width: 350px;
	}
}
@media (max-width: 400px) {
	main .todo .container-wrapper {
		padding: 20px;
		width: 300px;

		.to-do-app {
			h2 {
				font-size: 24px;

				img {
					width: 35px;
				}
			}
			.search-container {
				input,
				button {
					padding: 10px;
					font-size: 14px;
				}

				input::placeholder {
					font-size: 12px;
				}
			}
		}
	}
}
@media (max-width: 330px) {
	main .todo .container-wrapper {
		padding: 15px;
		width: 220px;

		.to-do-app {
			h2 {
				font-size: 20px;

				img {
					width: 30px;
				}
			}

			.search-container {
				input,
				button {
					padding: 7px;
					font-size: 12px;
				}
			}
		}
	}
}
