* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #0f0f0f;
}

.flex {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #a5a5a5;
}

.sidebar {
  background-color: #0f0f0f;
  border-right: 1px solid #636363;
  width: 76px;
  height: 100dvh;
  padding: 20px 15px;
  position: sticky;
  top: 0;
  left: 0;
  transition: 400ms ease;
}
.sidebar .logo-container {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar .logo-container .logo img {
  width: 40px;
  height: auto;
}
.sidebar .logo-container .toogler {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 50%;
  top: 60px;
  transform: translateX(50%);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}
.sidebar .logo-container .toogler:hover {
  background-color: #4a3dff;
}
.sidebar .logo-container .toogler.rotate {
  transform: rotate(180deg);
}
.sidebar .logo-container .toogler i {
  color: #ffffff;
  font-size: 20px;
}
.sidebar .logo-container .close {
  display: none;
}
.sidebar .logo-container .hamburger {
  display: none;
}
.sidebar .menu-items-container {
  transform: translateY(40px);
  transition: 300ms ease;
}
.sidebar .menu-items-container .title {
  position: relative;
  transition: all 0.3s ease;
}
.sidebar .menu-items-container .title h4 {
  color: #ffffff;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: 300ms ease;
  width: -moz-max-content;
  width: max-content;
}
.sidebar .menu-items-container .title .line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #636363;
  transition: 100ms ease;
}
.sidebar .menu-items-container .menu-items li a {
  min-width: 44px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  transition: 300ms ease;
}
.sidebar .menu-items-container .menu-items li a i {
  font-size: 24px;
}
.sidebar .menu-items-container .menu-items li a .menu-item-title {
  opacity: 0;
  transform: translateX(-40px);
  transition: 100ms ease;
}
.sidebar .menu-items-container .menu-items li a .tooltip {
  position: absolute;
  left: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #636363;
  background-color: #e6e6e6;
  color: #333;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease;
  transform: translateY(50px) scale(0);
}
.sidebar .menu-items-container .menu-items li a:hover {
  background-color: #4a3dff;
  color: #ffffff;
}
.sidebar .menu-items-container .menu-items li a:hover .tooltip {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.sidebar.open {
  width: 280px;
}
.sidebar.open .logo-container {
  justify-content: space-between;
}
.sidebar.open .toogler {
  right: 0;
  top: 0;
  transform: translateX(0);
}
.sidebar.open .menu-items-container {
  transform: translateY(0);
}
.sidebar.open .menu-items-container .title {
  padding-left: 10px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
}
.sidebar.open .menu-items-container .title h4 {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.sidebar.open .menu-items-container .title .line {
  opacity: 0;
  pointer-events: none;
}
.sidebar.open .menu-items-container .menu-items li a .menu-item-title {
  transform: translateX(0);
  opacity: 1;
}
.sidebar.open .menu-items-container .menu-items li a .tooltip {
  display: none;
}

main {
  padding: 8% 6%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
main section {
  border: 1px solid #636363;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 3px 3px 0 #636363;
}
main section h2 {
  color: #ffffff;
  border-bottom: 1px solid #4a3dff;
  width: -moz-max-content;
  width: max-content;
}
main section p {
  color: #a5a5a5;
}

@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 5% 4%;
    gap: 40px;
  }
  .sidebar {
    width: 100vw;
    height: 77px;
    padding: 15px 4%;
    border-right: none;
    overflow: hidden;
    border-bottom: 1px solid #636363;
    box-shadow: 0 10px 10px rgba(39, 39, 39, 0.4);
  }
  .sidebar .logo-container {
    position: static;
    align-items: center;
  }
  .sidebar .logo-container .logo {
    flex-grow: 1;
  }
  .sidebar .logo-container .toogler {
    display: none;
  }
  .sidebar .logo-container .hamburger {
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-size: 25px;
  }
  .sidebar .menu-items-container .title {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
  }
  .sidebar .menu-items-container .title h4 {
    opacity: 1;
    transform: scale(1);
    padding: 5px;
  }
  .sidebar .menu-items-container .title .line {
    display: none;
  }
  .sidebar .menu-items-container .menu-items li a .menu-item-title {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar .menu-items-container .menu-items li a .tooltip {
    display: none;
  }
  .sidebar.collapsed {
    height: 100dvh;
  }
}/*# sourceMappingURL=style.css.map */