* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #0f0f0f;
}

.flex {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #a5a5a5;
}

.sidebar {
  background-color: #0f0f0f;
  border: 1px solid #636363;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  width: 76px;
  margin: 16px;
  height: calc(100dvh - 32px);
  padding: 20px 15px;
  position: sticky;
  top: 16px;
  left: 0;
  transition: 400ms ease;
}
.sidebar .logo-container {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar .logo-container .logo img {
  width: 40px;
  height: auto;
}
.sidebar .logo-container .toogler {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 50%;
  top: 60px;
  transform: translateX(50%);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
}
.sidebar .logo-container .toogler:hover {
  background-color: #4a3dff;
}
.sidebar .logo-container .toogler.rotate {
  transform: rotate(180deg);
}
.sidebar .logo-container .toogler i {
  color: #ffffff;
  font-size: 20px;
}
.sidebar .logo-container .close {
  display: none;
}
.sidebar .logo-container .hamburger {
  display: none;
}
.sidebar .menu-items-container {
  transform: translateY(40px);
  transition: 300ms ease;
}
.sidebar .menu-items-container .title {
  position: relative;
  transition: all 0.3s ease;
}
.sidebar .menu-items-container .title h4 {
  color: #ffffff;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: 300ms ease;
  width: -moz-max-content;
  width: max-content;
}
.sidebar .menu-items-container .title .line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #636363;
  transition: 100ms ease;
}
.sidebar .menu-items-container .menu-items li a {
  min-width: 44px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  transition: 300ms ease;
  white-space: nowrap;
}
.sidebar .menu-items-container .menu-items li a i {
  font-size: 24px;
}
.sidebar .menu-items-container .menu-items li a .menu-item-title {
  opacity: 0;
  transform: translateX(-40px);
  transition: 100ms ease;
}
.sidebar .menu-items-container .menu-items li a .tooltip {
  position: absolute;
  left: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #636363;
  background-color: #e6e6e6;
  color: #333;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease;
  transform: translateY(50px) scale(0);
}
.sidebar .menu-items-container .menu-items li a:hover {
  background-color: #4a3dff;
  color: #ffffff;
}
.sidebar .menu-items-container .menu-items li a:hover .tooltip {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.sidebar.open {
  width: 280px;
}
.sidebar.open .logo-container {
  justify-content: space-between;
}
.sidebar.open .toogler {
  right: 0;
  top: 0;
  transform: translateX(0);
}
.sidebar.open .menu-items-container {
  transform: translateY(0);
}
.sidebar.open .menu-items-container .title {
  padding-left: 10px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
}
.sidebar.open .menu-items-container .title h4 {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.sidebar.open .menu-items-container .title .line {
  opacity: 0;
  pointer-events: none;
}
.sidebar.open .menu-items-container .menu-items li a .menu-item-title {
  transform: translateX(0);
  opacity: 1;
}
.sidebar.open .menu-items-container .menu-items li a .tooltip {
  display: none;
}

main {
  padding: 8% 10%;
  display: grid;
  place-content: center;
}
main.solo-app {
  height: 100dvh;
}
main .main-content {
  border: 1px solid #636363;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 3px 3px 0 #636363;
  margin-bottom: 50px;
}
main .main-content h2 {
  color: #ffffff;
  border-bottom: 1px solid #4a3dff;
  width: -moz-max-content;
  width: max-content;
}
main .main-content p {
  color: #a5a5a5;
}
main .todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
main .todo .container-wrapper {
  background-color: #0f0f0f;
  padding: 50px;
  border-radius: 22px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.6);
  width: 800px;
  max-width: 100%;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}
main .todo .container-wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
main .todo .container-wrapper .to-do-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .todo .container-wrapper .to-do-app h2 {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 25px;
}
main .todo .container-wrapper .to-do-app h2 img {
  width: 55px;
  height: auto;
  margin-left: 25px;
}
main .todo .container-wrapper .to-do-app .search-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
main .todo .container-wrapper .to-do-app .search-container input {
  flex: 1;
  padding: 20px;
  border: 1px solid #636363;
  background-color: rgb(39, 39, 39);
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  color: #a5a5a5;
  font-weight: 500;
  transition: all 300ms ease;
}
main .todo .container-wrapper .to-do-app .search-container input:focus, main .todo .container-wrapper .to-do-app .search-container input:hover {
  background-color: #131313;
  border-color: #4a3dff;
}
main .todo .container-wrapper .to-do-app .search-container input:focus {
  box-shadow: 0 0 20px rgba(109, 109, 109, 0.35);
}
main .todo .container-wrapper .to-do-app .search-container input::-moz-placeholder {
  color: #636363;
}
main .todo .container-wrapper .to-do-app .search-container input::placeholder {
  color: #636363;
}
main .todo .container-wrapper .to-do-app .search-container button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  padding: 0 60px;
  border-radius: 20px;
  background-color: #4a3dff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  transition: 300ms ease;
}
main .todo .container-wrapper .to-do-app .search-container button:hover {
  background-color: #3122ff;
}
main .todo .container-wrapper .to-do-app ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .todo .container-wrapper .to-do-app ul li {
  background-color: rgb(20, 20, 20);
  border-bottom: 1px solid #4a3dff;
  display: flex;
  border-radius: 100px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 12px 50px 12px 50px;
  font-size: 17px;
  font-weight: 500;
  color: #b6b6b6;
  position: relative;
  word-break: break-all;
}
main .todo .container-wrapper .to-do-app ul li:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url(images/Unchecked.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
main .todo .container-wrapper .to-do-app ul li.checked {
  text-decoration: line-through;
  color: #636363;
  border-bottom-color: transparent;
}
main .todo .container-wrapper .to-do-app ul li.checked::before {
  background-image: url(images/Checked.png);
}
main .todo .container-wrapper .to-do-app ul li span {
  position: absolute;
  right: 12px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #636363;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 100ms ease;
}
main .todo .container-wrapper .to-do-app ul li span:hover {
  background-color: rgb(26, 26, 26);
  color: #a5a5a5;
}

@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 16% 4%;
    gap: 40px;
  }
  .sidebar {
    width: 100vw;
    height: 77px;
    padding: 15px 4%;
    top: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #636363;
    box-shadow: 0 10px 10px rgba(39, 39, 39, 0.4);
    position: fixed;
  }
  .sidebar .logo-container {
    position: static;
    align-items: center;
  }
  .sidebar .logo-container .logo {
    flex-grow: 1;
  }
  .sidebar .logo-container .toogler {
    display: none;
  }
  .sidebar .logo-container .hamburger {
    cursor: pointer;
    display: block;
    color: #ffffff;
    font-size: 25px;
  }
  .sidebar .menu-items-container .title {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
  }
  .sidebar .menu-items-container .title h4 {
    opacity: 1;
    transform: scale(1);
    padding: 5px;
  }
  .sidebar .menu-items-container .title .line {
    display: none;
  }
  .sidebar .menu-items-container .menu-items li a .menu-item-title {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar .menu-items-container .menu-items li a .tooltip {
    display: none;
  }
  .sidebar.collapsed {
    height: 100dvh;
  }
  main .todo .container-wrapper {
    padding: 30px;
    width: 500px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    margin-left: 0;
    width: 45px;
  }
  main .todo .container-wrapper .to-do-app .search-container {
    flex-direction: column;
    gap: 10px;
  }
  main .todo .container-wrapper .to-do-app .search-container input {
    padding: 15px;
    font-size: 15px;
  }
  main .todo .container-wrapper .to-do-app .search-container button {
    position: static;
    transform: translateY(0);
    padding: 15px;
    font-size: 15px;
  }
}
@media (max-width: 520px) {
  main .todo .container-wrapper {
    width: 350px;
  }
}
@media (max-width: 400px) {
  main .todo .container-wrapper {
    padding: 20px;
    width: 250px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 24px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 35px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 10px;
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  main .todo .container-wrapper {
    padding: 15px;
    width: 170px;
  }
  main .todo .container-wrapper .to-do-app h2 {
    font-size: 20px;
  }
  main .todo .container-wrapper .to-do-app h2 img {
    width: 30px;
  }
  main .todo .container-wrapper .to-do-app .search-container input,
  main .todo .container-wrapper .to-do-app .search-container button {
    padding: 7px;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */